:root{
    --blue-color: #14b9d5;
    --text-color: #fffefd;
    --white-color: white;
    --header-height:100px;
    --width-img: calc(100% + 0);
    --height-img: var(var(--width-img));
}
*{
    box-sizing: inherit; /*kế thừa từ thẻ chứa nó*/
}
html{
    /*hack*/
    font-size: 62.5% /*ứng với 10px*/;
    line-height: 1.6rem; /*16px*/
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}